{% extends 'base/base_register.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <div class="container-fluid padding offset-sm+6">
        <div class="row padding">
            <div class="col-md-6">

                <h3>Change Password</h3>
                <p>Please enter your new password</p>

                        <form action="" method="post">
                            <div style="display:none">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            {% for field in form %}
                                <div class="row">
                                             <div class="col-sm-7">
                                                 {{ field.label_tag }}
                                             </div>
                                             <div class="col-sm-3">
                                                 {{ field }}
                                             </div>
                                </div>
                            {% endfor %}
                        <div class="row">
                            <div class="col-sm-7 offset-sm-4" >
                            <button type="submit">Save changes</button>
                            </div>
                        </div>
                        </form>
            </div>
        </div>
    </div>
{% endblock %}

