<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MCC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'cric:home' %}"><img width="80px" src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% with url_name=request.resolver_match.url_name %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cric:home' %}">Home</a>
                </li>
                <li class="nav-item {% if url_name == 'match_list' %}active{% endif %}">
{#                    <a class="nav-link" href="{% url 'cric:match_list' %}">Matches</a>#}
                    <a class="nav-link" href="{% url 'cric:match_list' pk=1%}">Matches</a>
                </li>
                <li class="nav-item {% if url_name == 'team_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cric:team_list' %}">Teams</a>
                </li>
                <li class="nav-item {% if url_name == 'player_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cric:player_list' %}">Players</a>
                </li>
                 {% if request.user.is_superuser or user.groups.all and user.groups.all.0.name == "Admin" %}
                 <li class="nav-item {% if url_name == 'role_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cric:role_list' %}">Roles</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and user.groups.all and user.groups.all.0.name == "Coach" %}
                <li class="nav-item {% if url_name == 'myteamplayer_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cric:myteamplayer_list' pk=user.pk %}" >My Team</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.first_name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                             <a class="dropdown-item" href="{% url 'cric:change_password' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>