{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
        {% with url_name=request.resolver_match.url_name %}
            <a class="nav-link {% if url_name == 'match_list' and list_type == 'all' %}active{% endif %}" href="{% url 'cric:match_list' pk=1%}">All Matches</a>
            <a class="nav-link {% if url_name == 'match_list' and list_type == 'in_progress' %}active{% endif %}" href="{% url 'cric:match_list' pk=2%}">Live</a>
            <a class="nav-link {% if url_name == 'match_list' and list_type == 'finished' %}active{% endif %}" href="{% url 'cric:match_list' pk=3%}">Results</a>
            <a class="nav-link {% if url_name == 'match_list' and list_type == 'scheduled' %}active{% endif %}" href="{% url 'cric:match_list' pk=4%}">Upcoming</a>
            <a class="btn btn-info" href="{% url 'cric:match_new' %}" data-toggle="tooltip" title="Add a Match">
                <i class="fas fa-plus" style="font-size: 1.2em; margin: 0rem; color: #FFFFFF; text-decoration: none;"></i>
            </a>
        {% endwith %}
        </nav>
    </div>
    {% block match_list_content %}
    {% endblock %}
{% endblock%}